.search_result_main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    justify-content: center;
    max-width: 100%;

    .movie-card {
        width: 100%;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0 !important;
        }
    };
}

#scrollableDiv {
    height: 80vh; 
    overflow-y: auto;
}

/* Media queries for laptop screens */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .search_result_main {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}